<html>
  <head>
    <title>Twitter Feed</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/tweets.css" />
    <script type="text/javascript" src="javascripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="javascripts/tweets.js"></script>
  </head>

  <body>
    <div id="content">
      <%= yield %>
    </div>
  </body>

</html>