<html>
  <head>
    <title>Twitter Feed</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/tweets.css" />
  </head>

  <body>
    <div id="content">
      <%= yield %>
    </div>
  </body>

</html>