#tweets {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  background-color: #fff;
}

#tweets .tweet {
  display: block;
  padding: 10px;
  border: 1px solid #ccd;
  margin-bottom: 2px;
  background-color: #eef;
}

#hash_tag {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 40px;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
}